/* ==========================================================================
   Aircas · el-drawer 覆盖
   --------------------------------------------------------------------------
   用法：`<el-drawer class="aircas-drawer">` 即生效。
   ========================================================================== */

.aircas-drawer {
  &.el-drawer {
    background-color: var(--aircas-color-panel-background);
    box-shadow: var(--el-box-shadow-light), var(--aircas-color-page-glow) 0 0 12px;
    color: var(--aircas-color-text-primary);

    .el-drawer__header {
      color: var(--aircas-color-title);
      font-weight: 700;

      .el-drawer__close-btn {
        color: var(--aircas-color-text-secondary);

        &:hover {
          color: var(--aircas-color-button-close-active-background);
        }
      }
    }

    .el-drawer__body {
      color: var(--aircas-color-text-primary);
    }
  }
}
